---

---

<div class="join">
  <select class="select join-item">
    <option>Twitch</option>
  </select>
  <label class="input">
    <svg
      class="h-[1em] opacity-50"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
    >
      <g
        stroke-linejoin="round"
        stroke-linecap="round"
        stroke-width="2.5"
        fill="none"
        stroke="currentColor"
      >
        <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"></path>
        <circle cx="12" cy="7" r="4"></circle>
      </g>
    </svg>
    <input
      type="url"
      required
      placeholder="Channel"
      class="join-item"
      id="stream-url"
    />
  </label>
  <select class="select join-item">
    <option>Stream + Chat</option>
    <option>Stream</option>
    <option>Chat</option>
  </select>
  <button disabled class="btn btn-primary join-item" id="add-stream">Add</button
  >
</div>

<script>
  document.getElementById("stream-url")?.addEventListener("input", (e) => {
    const addStreamBtn = document.getElementById(
      "add-stream",
    ) as HTMLButtonElement;
    addStreamBtn.disabled = (e.target as HTMLInputElement).value === "";
  });
</script>
