---

---

<div class="join">
  <label class="input validator">
    <svg
      class="h-[1em] opacity-50"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
    >
      <g
        stroke-linejoin="round"
        stroke-linecap="round"
        stroke-width="2.5"
        fill="none"
        stroke="currentColor"
      >
        <path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"
        ></path>
        <path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"
        ></path>
      </g>
    </svg>
    <input
      type="url"
      required
      placeholder="https://"
      value="https://"
      pattern="https://.*"
      title="Must be valid URL"
      class="join-item"
      id="stream-url"
    />
  </label>
  <select class="select join-item">
    <option>Stream + Chat</option>
    <option>Stream</option>
    <option>Chat</option>
  </select>
  <button disabled class="btn btn-primary join-item" id="add-stream">Add</button
  >
</div>

<script>
  document.getElementById("stream-url")?.addEventListener("input", (e) => {
    const addStreamBtn = document.getElementById(
      "add-stream",
    ) as HTMLButtonElement;
    addStreamBtn.disabled = (
      e.target as HTMLInputElement
    ).validity.patternMismatch;
  });
</script>
