---
import "../styles/global.css";
import StreamInput from "../components/header/StreamInput.astro";
---

<!doctype html>
<html lang="en" class="m-0 w-full h-full">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Stream Mixer</title>
	</head>
	<body class="m-0 w-full h-full">
		<div class="navbar justify-between bg-base-100 shadow-sm">
			<div>
				<a class="btn btn-ghost text-xl">Stream Mixer</a>
			</div>
			<StreamInput />
		</div>
		<slot />
	</body>
</html>
